Host bastion
    Hostname 51.250.11.146
    IdentityFile ~/.ssh/yandex/id_rsa
    User ubuntu

Host 10.5.0.9
    ProxyJump bastion
    IdentityFile ~/.ssh/yandex/id_rsa
    User ubuntu

Host 10.5.0.19
    ProxyJump bastion
    IdentityFile ~/.ssh/yandex/id_rsa
    User ubuntu

